<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirm vote</title>
    <style>
         * {
      box-sizing: border-box;
    }
    body{
      background-image: url(/images/back.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      font-family: Copperplate Gothic;
    }
    .body {
      margin: 0;

      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .login-container {
      background-color: rgba(255, 255, 255, 0.7);
      margin-top: 120px;
      margin-bottom: 100px;
      padding: 2.5rem 2rem;
      box-shadow: #030000 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      width: 100%;
      max-width: 400px;
      text-align: center;
    }

        .button-cancle {
       margin-left: auto;
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 110px;
  word-break: break-word;
  border: 0;
}

        .button-confirm {
       margin-left: auto;
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 110px;
  word-break: break-word;
  border: 0;
}

    .button-cancle:hover{
        background: #cd3432;
    }
    .button-confirm:hover{
        background: #80a55a;
    }
.spinner {
  border: 4px solid #f3f3f3; /* Light gray */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-left: 10px;
}
.header{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      position: fixed;
      top:0;
      left: 0;
      width: 100%;
      background-color: white;
      box-shadow:0 1px 5px 1px rgba(0, 0, 0, 0.15); 
      border-radius: 8px;
    }

img{
  border-radius: 150px;
  height: 200px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

    </style>
</head>
<body>

  <div class="body">
    <div class="login-container">
        <form id="vote" action="/decide" method="post" >
        <img src="/images/politician.jpg"/>
        <h1><%= Candidate %></h1>
        <p>confirm your vote</p>
        <div id="text">
            <button type="submit" id="m2" name="confirm" value="no" class="button-cancle" style="background-color: #e71839;">Cancle</button>
            <button type="submit" id="m" name="confirm" value="yes" class="button-confirm" style="background-color: #33cc44;">Confirm</button>
        </div>
        <div id="spinner" class="spinner" style="display: none;margin-top: 5px;"></div>
        </form>
    </div>
    </div>
  <footer class="footer">
  <p>&copy; 2025 My College Digivote | All Rights Reserved</p>
</footer>
    
</body>
<script>
    const form = document.getElementById("vote");
    const button2 = document.getElementById("m2");
    const button = document.getElementById("m");
    const spinner = document.getElementById("spinner");
    form.addEventListener("submit",function(event){

        event.preventDefault();

        button.disabled = true;
        button2.disabled = true;
        spinner.style.display = "inline-block"

        var message;

        const c = event.submitter;
        const f = event.target;
        if(c.value === "yes"){
            message = "<h4 style='color:#2a943d' >Vote confirmed ✅</h4>"
        }
        else{
            message = "<h4 style='color:#eb1429' >Vote cancled! ❌ , login again to vote </h4>"
        }

        const h = document.createElement("input");
        h.type = "hidden";
        h.name = "confirm";
        h.value = c.value;
        f.appendChild(h);

        setTimeout(()=>{
            document.getElementById("text").innerHTML = message;
            setTimeout(()=>{
            form.submit();
        },1500);

        },2000)
    });

</script>
</html>